<a href="https://colab.research.google.com/github/EvaChitul/Build_up-Learning_curve/blob/master/Small_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tup = (1, 2, 3, 4)
print (tup*3)
print(tup[::-1])

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(4, 3, 2, 1)

In [2]:
x = '45'
print(int(x))
print(float(x))
y = 123.456
print(int(y))
print(complex(x))

45
45.0
123
(45+0j)