<a href="https://colab.research.google.com/github/EvaChitul/Build_up-Learning_curve/blob/master/Small_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
tup = (1, 2, 3, 4)
print (tup*3)
print(tup[::-1])

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(4, 3, 2, 1)

In [0]:
x = '45'
print(int(x))
print(float(x))
y = 123.456
print(int(y))
print(complex(x))

45
45.0
123
(45+0j)

In [0]:
x = input('Please enter a number')
y = int(x)
if y % 4 == 0:
  print ('X is a multiple of 4')
elif y % 2 == 0:
  print ('X is an even number')
else:
  print ('X is an odd number')

Please enter a number7
X is an odd number

In [4]:
numbers = input ('Please enter 2 numbers separated by space:')
print(numbers)
c =  len(numbers)
print (c)
no = numbers.split()
a, b = int(no[0]), int(no[1])
if a % b == 0:
  print (a, 'is a multiple of', b)
else:
  print (a, 'is not a multiple of', b)

Please enter 2 numbers separated by space:6 8
6 8
3
6 is not a multiple of 8

In [1]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
  if i < 5:
    print (i, end = ' ')
  else:
    continue

1 1 2 3

In [2]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = []
for i in a:
  if i < 5:
    b.append(i)
  else:
    continue
print (b)

[1, 1, 2, 3]

In [1]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[b for b in a if b < 5]

[1, 1, 2, 3]