<a href="https://colab.research.google.com/github/EvaChitul/Build_up-Learning_curve/blob/master/Small_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup = (1, 2, 3, 4)
print (tup*3)
print(tup[::-1])

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(4, 3, 2, 1)

In [ ]:
x = '45'
print(int(x))
print(float(x))
y = 123.456
print(int(y))
print(complex(x))

45
45.0
123
(45+0j)

In [ ]:
x = input('Please enter a number')
y = int(x)
if y % 4 == 0:
  print ('X is a multiple of 4')
elif y % 2 == 0:
  print ('X is an even number')
else:
  print ('X is an odd number')

Please enter a number7
X is an odd number

In [ ]:
numbers = input ('Please enter 2 numbers separated by space:')
print(numbers)
c =  len(numbers)
print (c)
no = numbers.split()
a, b = int(no[0]), int(no[1])
if a % b == 0:
  print (a, 'is a multiple of', b)
else:
  print (a, 'is not a multiple of', b)

Please enter 2 numbers separated by space:6 8
6 8
3
6 is not a multiple of 8

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
  if i < 5:
    print (i, end = ' ')
  else:
    continue

1 1 2 3

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = []
for i in a:
  if i < 5:
    b.append(i)
  else:
    continue
print (b)

[1, 1, 2, 3]

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[b for b in a if b < 5]

[1, 1, 2, 3]

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = int(input('Insert a number:'))
[c for c in a if c<b]

Insert a number:45

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
a = int(input('Enter a number:'))
#a2 = a/2
c = []
b = 2
while b < a/2:
  if a%b == 0:
    c.append(b)
  b += 1
c.append(a)
print(c, end = ' ')

Enter a number:45
[3, 5, 9, 15, 45]

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []
#[c for c in a and b]
for i in a:
  if i in b:
    if i not in c:
       c.append(i)
print(c)

[1, 2, 3, 5, 8, 13]

In [ ]:
a = input('Insert word:')
ainv = a[::-1]
if a == ainv:
  print ('The word is a polindrom')
else:
  print ('The word is not a polindrom')

Insert word:examples
The word is not a polindrom

In [ ]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[b for b in a if b%2==0]

[4, 16, 36, 64, 100]

In [ ]:
ani = [1989, 1990, 1991, 1992]
varsta = [2020 - an for an in ani]
print (varsta)

[31, 30, 29, 28]

In [ ]:
lista = [1, 2,3 ,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
[i for i in lista if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
num = (x*x for x in range (4))
for i in num:
  print (i)

0
1
4
9

In [ ]:
def gen():
  list = range (10)
  for i in list:
    yield i*i

generator = gen()
for i in gen():
  print(i, end = ' ')

0 1 4 9 16 25 36 49 64 81

In [ ]:
a = [5, 10, 15, 20, 25]
def func():
  new = [a[0], a[-1]]
  print (new)
func()
#[x for x in a[0] and a[-1]]

[5, 25]

In [ ]:
def Fib():
  numar = int(input('How many Fibonacci numbers to generate:'))
  a, b = 1, 1
  list = []
  while numar > 0:
    list.append(a)
    a, b = b, a+b
    numar -= 1
  print (list)

Fib()

How many Fibonacci numbers to generate:10
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
def check():
  a = int(input('Inset a list of numbers:' ))
  b = []
  for x in a:
    if x not in b:
        b.append(x)
    else:
        continue
  print (b)

id(check)

140569014047336

In [ ]:
new = input('Insert input:')
test1 = tuple(new)
print(test1)
#test2 = dict(new)
test3 = list(new)
#print(test2)
print(test3)

Insert input:abracadabra
('a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a')
['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [ ]:
num = 10.0
print (num)
print(id(num))
type(num)

num = num + 1
print (num)
print(id(num))

10.0
140694770346840
11.0
140694770346864

In [ ]:
name = 'Eva Chitul'
print('Hello {}'.format(name))

Hello Eva Chitul

In [ ]:
print('Text {} Al doilea text {} al treilea {}'.format(1, 2.5,'abracadabra'))

Text 1 Al doilea text 2.5 al treilea abracadabra

In [ ]:
txt = 'incercam'
print('Aici {}'.format(txt))

Aici incercam

In [ ]:
text = 'Omule perete'
print('Cantam {}'.format(text))

Cantam Omule perete

In [ ]:
print('Prima {}, A doua {}, A treia {}'.format('abc', 123, 456.789))

Prima abc, A doua 123, A treia 456.789

In [ ]:
print ('Nume: {}'.format('Eva'))

Nume: Eva

In [ ]:
print ('Nume: {test}'.format(test = 'Eva'))

Nume: Eva

In [ ]:
print ('Nume: {[test2]}'.format({'test2' : 'Eva2' }))

Nume: Eva2

In [ ]:
print ('Numere: {0}, si apoi {2}'.format('Unu', 'Doi', 'trei'))

Numere: Unu, si apoi trei

In [ ]:
name = 'Eva'
f'My name is {name}'

'My name is Eva'

In [ ]:
nume = 'Eva'
varsta = 30
print('{} is {}'.format(nume, varsta))

Eva is 30

In [ ]:
text = """ "Python is a great language!", said Fred. "I don't ever remember
having this much fun before." """
print(text)

 "Python is a great language!", said Fred. "I don't ever remember
having this much fun before."

In [ ]:
nume = 'Eva'
dir(nume)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
num = 12
dir (num)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
name = 'Eva'
nume2 = name
print(nume2)

Eva

In [ ]:
name = 'Eva Dana'
num = 123
nume2 = name.capitalize()
print (nume2)
print (num)

Eva dana
123

In [ ]:
fraza = 'lume lume soro lume'
print(fraza.find('lum'))
print (fraza.index('u'))
print(fraza.count('u'))

0
1
3

In [ ]:
fraza = 'lume lume soro lume'
num = 123
f"Here is the {fraza} part of the {num} text and {fraza.index('u')}"

'Here is the lume lume soro lume part of the 123 text and 1'

In [ ]:
', '.join(['1', '2', '3'])\

'1, 2, 3'

In [ ]:
varsta = int(input('The age is:'))
varsta = 10
if varsta >= 18:
  return True
else:
  return False

In [1]:
varsta = int(input('The age is:'))
if varsta >= 18:
  print (True)
else:
  print (False)

The age is:76
True