<a href="https://colab.research.google.com/github/EvaChitul/Build_up-Learning_curve/blob/master/Small_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup = (1, 2, 3, 4)
print (tup*3)
print(tup[::-1])

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
(4, 3, 2, 1)

In [ ]:
x = '45'
print(int(x))
print(float(x))
y = 123.456
print(int(y))
print(complex(x))

45
45.0
123
(45+0j)

In [ ]:
x = input('Please enter a number')
y = int(x)
if y % 4 == 0:
  print ('X is a multiple of 4')
elif y % 2 == 0:
  print ('X is an even number')
else:
  print ('X is an odd number')

Please enter a number7
X is an odd number

In [ ]:
numbers = input ('Please enter 2 numbers separated by space:')
print(numbers)
c =  len(numbers)
print (c)
no = numbers.split()
a, b = int(no[0]), int(no[1])
if a % b == 0:
  print (a, 'is a multiple of', b)
else:
  print (a, 'is not a multiple of', b)

Please enter 2 numbers separated by space:6 8
6 8
3
6 is not a multiple of 8

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
  if i < 5:
    print (i, end = ' ')
  else:
    continue

1 1 2 3

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = []
for i in a:
  if i < 5:
    b.append(i)
  else:
    continue
print (b)

[1, 1, 2, 3]

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[b for b in a if b < 5]

[1, 1, 2, 3]

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = int(input('Insert a number:'))
[c for c in a if c<b]

Insert a number:45

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
a = int(input('Enter a number:'))
#a2 = a/2
c = []
b = 2
while b < a/2:
  if a%b == 0:
    c.append(b)
  b += 1
c.append(a)
print(c, end = ' ')

Enter a number:45
[3, 5, 9, 15, 45]

In [ ]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []
#[c for c in a and b]
for i in a:
  if i in b:
    if i not in c:
       c.append(i)
print(c)

[1, 2, 3, 5, 8, 13]

In [ ]:
a = input('Insert word:')
ainv = a[::-1]
if a == ainv:
  print ('The word is a polindrom')
else:
  print ('The word is not a polindrom')

Insert word:examples
The word is not a polindrom

In [1]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[b for b in a if b%2==0]

[4, 16, 36, 64, 100]

In [1]:
ani = [1989, 1990, 1991, 1992]
varsta = [2020 - an for an in ani]
print (varsta)

[31, 30, 29, 28]

In [1]:
lista = [1, 2,3 ,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
[i for i in lista if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]